- semantic_form_for [@project, @ticket], :remote => true do |f|
  - f.inputs do
    = f.input :description, :label => false
    = f.input :assigned_to, :collection => @project.users.map {|user| [user.email, user.id]}
    = f.input :status, :collection => @project.ticket_statuses.map {|status| [status.name, status.id]}
    = f.input :type, :collection => @project.ticket_types.map {|type| [type.name, type.id]}
  = f.buttons
