= content_tag_for :li, ticket, :class => 'ticket' do
  %span.drag-mate= link_to image_tag('drag.gif'), '#'
  %span.number-container
    %span.number{:style => "background-color: #{ticket.status.color}"}= link_to "##{ticket.number} : #{ticket.status.name}", [@project, ticket]
    - if ticket.type
      %span.type{:style => "background-color: #{ticket.type.color}"}= ticket.type.name
  %span.description= ticket.description
  %span.buttons
    = link_to 'Edit', [@project, ticket], :class => 'edit-ticket'
    = link_to image_tag('trash.gif'), [@project, ticket], :class => 'delete-ticket', :confirm => 'You are really want to delete this ticket?', :method => :delete, :remote => true
