%ul.tickets-actions
  %li= link_to 'Add an new ticket <span class="shortcut">(⌘+⌥+N)</span>'.html_safe, new_project_ticket_path, :remote => true, :class => 'button green add-ticket'

%h3.tickets-header Inbox

%ul.tickets-list.inbox

%h3.tickets-header Dummy

%ul.tickets-list
  - @tickets.each do |ticket|
    = content_tag_for :li, ticket, :class => 'ticket' do
      %span.drag-mate= link_to image_tag('drag.gif'), '#'
      %span.number-container
        %span.number= link_to "##{ticket.number}", [@project, ticket]
      %span.description= ticket.description
      %span.buttons
        = link_to image_tag('trash.gif'), '#', :method => :destroy, :remote => true

%ul#ui-sorting-helper.tickets-list
