%p#notice= notice
%p
  %b Number
  = @ticket.number
%p
  %b Desc:
  = @ticket.description
= link_to 'Edit', edit_project_ticket_path(@project, @ticket)

%ul.comments
  - @comments.each do |comment|
    %li
      %p= comment.body

= render :partial => 'comments/form'