%p#notice= notice
%p
  %b Number
  = @ticket.number
%p
  %b Desc:
  = @ticket.description
%p
  %b Assigned_to
  = @ticket.assigned_to.email
%p
  %b Reporter_to
  = @ticket.reporter.try(:email)
    
= link_to 'Edit', edit_project_ticket_path(@project, @ticket)

= render :partial => 'comments/list'