!!!5
%html

  %head
    %title Sparta
    %link(rel="shortcut icon" href="/images/favicon.png" type="image/png")
    = stylesheet_link_tag 'master', 'ui', 'common_pages'
    = javascript_include_tag 'jquery-1.4.2.min', 'jquery-ui-1.8.5.custom', 'rails', 'jquery.timeago', 'jquery.hotkeys', 'jquery.mousewheel', 'mwheelIntent', 'jquery.jscrollpane.min', 'jquery.textPlaceholder', 'jquery.loading', 'base'
    = csrf_meta_tag

  %body(id="#{body_id}")
    = yield :content

    #loading Loading

    - if RAILS_ENV == 'production'
      = render 'layouts/google_analytics'
