- content_for :content do
  .columns
    .column.main-column
      #logo
        = link_to '', root_path, :class => 'ribbon'
      %ul#navigation
        - if current_user
          - if current_user.projects.count > 0
            - if current_user.projects.count == 1
              %li.project-name= current_user.projects.first.name
              %li= link_to 'New project', new_project_path, :remote => true, :class => 'add-project menu-popup menu-popup-window green'
            - else
              %li.drop-down
                = link_to "#{@project ? @project.name : 'Select project'} #{image_tag('drop.gif')}".html_safe, '#', :class => 'select-project menu-popup'
                %ul
                  - current_user.projects.each do |project|
                    - unless @project and project == @project
                      %li= link_to project.name, project
                  %li= link_to 'Add an new', new_project_path, :remote => true, :class => 'add-project menu-popup menu-popup-window green'
          - else
            %li= link_to 'New project', new_project_path, :remote => true, :class => 'add-project menu-popup menu-popup-window green'

          - if @project
            %li= link_to 'Tickets', @project
            %li= link_to 'People', '#' #project_project_users_path(@project)
            %li= link_to 'Settings', '#' # edit_project_path(@project)

      .column-wrapper
        = yield
    .column.meta-column
      .column-wrapper.scroll-pane

= render 'layouts/base'
