<!DOCTYPE html>
<html>
<head>
  <title>Sparta</title>
  <%= stylesheet_link_tag :all %>
  <%= formtastic_stylesheet_link_tag %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
